## .NET
bin/
obj/
*.user
*.suo
*.cache
*.log
.vs/

## App data
appsettings.Production.json
*.db
*.db-shm
*.db-wal

## OS
.DS_Store
Thumbs.db

## IDE
.idea/
.vscode/

## Deploy
publish/

## Local SDK installer
dotnet-install.ps1
